body{
    font-family: Arial, Helvetica, sans-serif;
}


label{
    font-weight: bold;
}

.container{
    margin: 0 auto;
}

.submit-grid{
    margin-top: 10px;
}

.tabela{
    margin-top: 100px;
}


.delete-class{
    width: 90px;
    text-align: center;
}
.delete-button{
    width: 45px;
    margin-top: 10px;
    margin-left: 10px;
}