<div class="container">
  <div>
    <h1>Cozinha</h1>
  </div>

  <div class="p-fluid">
    <label class="p-col-12 p-mb-2 p-md-2 p-mb-md-0">Descrição</label>
    <input pInputText type="text" />
  </div>

  <div class="p-formgroup-inline submit-grid">
    <div class="p-field">
      <label for="firstname" class="p-sr-only">Firstname</label>
      <input id="firstname" type="text" pInputText placeholder="Firstname" />
    </div>
    <div class="p-field">
      <label for="lastname" class="p-sr-only">Lastname</label>
      <input id="lastname" type="text" pInputText placeholder="Lastname" />
    </div>   
  </div>

  <button pButton type="button" label="Submit"></button> 
  
  <div class="tabela">

    
    <p-table [value]="cozinhas">
      <ng-template pTemplate="header">
        <tr>
          <th>Code</th>
          <th>Name</th>
          <th>Category</th>
          <th>Quantity</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-cozinha>
        <tr>
          <td>{{cozinha.code}}</td>
          <td>{{cozinha.name}}</td>
          <td>{{cozinha.code}}</td>
          <td>{{cozinha.quantity}}</td>
        </tr>
      </ng-template>
    </p-table>
  </div>

</div>







